<div class="fadein animation-duration-500">
  
  <app-generic-grid 
      #grid
      title="Varlıklar (Assets)" 
      permissionModule="Assets"
      [columns]="columns"
      [data]="assets"
      [totalRecords]="totalRecords"
      [loading]="loading"
      (onLazyLoad)="loadAssets($event)"
      (onAdd)="showDialog()"
      (onEdit)="editAsset($event)"
      (onDelete)="deleteAsset($event)">
  </app-generic-grid>

  
  <p-dialog header="Varlık (Demirbaş) Formu" [(visible)]="displayDialog" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <app-generic-form 
        *ngIf="displayDialog"
        [fields]="assetFormFields" 
        [initialData]="selectedData"
        (onSubmit)="saveAsset($event)" 
        (onCancel)="displayDialog = false">
    </app-generic-form>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>
</div>
