<div class="fadein animation-duration-500">
  
  <app-generic-grid 
      #grid
      title="Varlıklar (Assets)" 
      apiEndpoint="api/assets" 
      permissionModule="Assets"
      [columns]="columns"
      (onAdd)="showDialog()"
      (onEdit)="editAsset($event)"
      (onDelete)="deleteAsset($event)">
  </app-generic-grid>

  
  <p-dialog header="Yeni Varlık Ekle" [(visible)]="displayDialog" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <form [formGroup]="assetForm" (ngSubmit)="saveAsset()" class="flex flex-column gap-3 mt-3">
      <div class="flex flex-column gap-2">
        <label for="name">İsim *</label>
        <input pInputText id="name" formControlName="name" placeholder="Varlık adı" />
        <small class="p-error" *ngIf="assetForm.get('name')?.invalid && assetForm.get('name')?.touched">
          Geçerli bir isim giriniz.
        </small>
      </div>
      
      <div class="flex flex-column gap-2">
        <label for="serialNumber">Seri Numarası *</label>
        <input pInputText id="serialNumber" formControlName="serialNumber" placeholder="Seri no" />
        <small class="p-error" *ngIf="assetForm.get('serialNumber')?.invalid && assetForm.get('serialNumber')?.touched">
          Geçerli bir seri numarası giriniz.
        </small>
      </div>
      
      <div class="flex flex-column gap-2">
        <label for="status">Durum *</label>
        <p-dropdown appendTo="body" 
          id="status" 
          formControlName="status" 
          [options]="statusOptions" 
          optionLabel="label" 
          optionValue="value" 
          placeholder="Durum Seçiniz"
          [style]="{'width':'100%'}">
        </p-dropdown>
      </div>

      <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="İptal" icon="pi pi-times" type="button" (onClick)="displayDialog=false" styleClass="p-button-text"></p-button>
        <p-button [label]="editMode ? 'Güncelle' : 'Kaydet'" icon="pi pi-check" type="submit" [disabled]="assetForm.invalid"></p-button>
      </div>
    </form>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>
</div>
