<div class="fadein animation-duration-500">
  
  <app-generic-grid 
      #grid
      title="Çalışanlar (Employees)" 
      permissionModule="Employees"
      [columns]="columns"
      [data]="employees"
      [totalRecords]="totalRecords"
      [loading]="loading"
      (onLazyLoad)="loadEmployees($event)"
      (onAdd)="showDialog()"
      (onEdit)="editEmployee($event)"
      (onDelete)="deleteEmployee($event)">
  </app-generic-grid>

  
  <p-dialog header="Çalışan (Personel) Formu" [(visible)]="displayDialog" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <app-generic-form 
        *ngIf="displayDialog"
        [fields]="employeeFormFields" 
        [initialData]="selectedData"
        (onSubmit)="saveEmployee($event)" 
        (onCancel)="displayDialog = false">
    </app-generic-form>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>
</div>
